<div class="modal-header km-primary">

    <img width="48" src="../favicon.ico" alt="logo" />
    <h4 class="modal-title pl-2 pt-1 mr-auto" id="app-settings-modal-title" >About KubeMovie</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" >&times;</span>
    </button> -->
</div>
<div class="modal-body km-primary">

    <form>
        <div class="font-weight-bold">Gitlab Commit Identifiers</div>
        <div><a href="https://gitlab.com/cnad/kubedvdangular">KubeMovieAngular</a>: {{kubemoviebuild}}</div>
        
        <div *ngIf="!loading"><a href="https://gitlab.com/cnad/kubedvdcontroller">KubeMovieController</a>: {{kubemovieapibuild}}</div>
        <div *ngIf="loading"><a href="https://gitlab.com/cnad/kubedvdcontroller">KubeMovieController</a>: {{kubemovieapibuild}} <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"></span></div>
    </form>
</div>
<div class="modal-footer km-primary">
    <!-- <button type="button" class="btn btn-outline-dark km-primary" (click)="activeModal.close('Save click')">Save</button> -->
    <button type="button" class="btn btn-default km-primary" (click)="activeModal.dismiss('Cancel click')">Close</button>
</div>


 