<div class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-sm p-0">
  <!-- <img width="32" alt="Angular Logo" src="../favicon.ico" />
  <a class="navbar-brand pl-2" >KubeMovie</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" *ngIf="false" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><fa-icon class="fa-lg km-navbar" [icon]='faHome'></fa-icon></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Movies<fa-icon class="fa-xs km-navbar" style="padding-left: 10px;"></fa-icon></a>
      </li>


    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link mr-auto"><fa-icon class="fa-sm km-navbar" [icon]='faLightbulb' (click)="toggleTheme()"></fa-icon></a>
      </li>
    </ul>
 

  </div>
</nav>
</div>