
  <div class="row align-items-center" *ngIf="viewMode" style="padding-left: 15px;padding-top: 15px;">
    <div class="col-md-12 pl-1" >
      <ngx-avatar class="d-inline-block pr-1 pl-0 pb-1" size="50" textSizeRatio="2" value="{{movie?.title | initials }}" bgColor="{{getColor(movie?.genre)}}"></ngx-avatar>
        <h5 class="d-inline km-secondary" >{{movie.title | truncate : 30 | replaceNbsp}}</h5> 
    </div>
  </div>

  <div class="row align-items-center" *ngIf="editMode || addMode" style="padding-bottom: 24px;padding-left: 15px;padding-top: 15px;">
    <div class="col-md-12 pl-1">
      <ngx-avatar class="d-inline-block pr-1 pl-0 pb-1" size="50" textSizeRatio="2" value="{{movie?.title | initials }}" bgColor="{{getColor(movie?.genre)}}"></ngx-avatar>
      <h5 class="d-inline-block km-secondary" *ngIf="addMode">Add new movie</h5> 
      <h5 class="d-inline-block km-secondary" *ngIf="editMode">{{movie?.title | truncate : 30 | replaceNbsp}}</h5>
    </div>
  </div>

  <div class="row align-items-center" >
    <div class="col-md-12">
      <div *ngIf="movie" class="float-right">
      <a *ngIf="viewMode"><fa-icon class="fa-sm  km-icon" [icon]='faEdit' (click)="editMovie()" style="padding-right: 10px;"></fa-icon></a>  
      <a *ngIf="viewMode"><fa-icon class="fa-sm  km-icon" [icon]='faTrash' (click)="delete()" style="padding-right: 10px;"></fa-icon></a> 
      </div>
    </div>
  </div>
  
  <div class="row" style="padding-left: 15px; padding-right: 15px;">
    <div class="col-md-12 pl-1 pr-1" >
      <form [formGroup]="addMovieForm" (ngSubmit)="save(addMovieForm.value)" autocomplete="off">
        <div class="form-group" [ngClass]="{'error' : title.invalid && title.dirty}">
          <label for="movieTitle" class="km-secondary">Title:</label>
          <em *ngIf="title.invalid && title.dirty">Required</em>
          <input *ngIf="viewMode" readonly formControlName="title" id="movieTitle" type="text" class="form-control km-secondary" style="background-color: transparent;"  placeholder="title..." />
          <input *ngIf="!viewMode" formControlName="title" id="movieTitle" type="text" class="form-control" placeholder="Enter movie title..." />
        </div>
        <div class="form-group" [ngClass]="{'error' : genre.invalid && genre.dirty}">
          <label for="movieGenre" class="km-secondary">Genre:</label>
          <em *ngIf="genre.invalid && genre.dirty">Required</em>
          <input *ngIf="viewMode" readonly formControlName="genre" id="movieGenre" type="text" class="form-control km-secondary" style="background-color: transparent;" placeholder="genre..." />
          
          <div *ngIf="!viewMode" >
            <select *ngIf="false" formControlName="genre"  class="form-control" >
            <option  *ngFor="let g of genres" 
              [value]="g" 
              [attr.selected]="g==movie?.genre ? true : null">
              {{g}}
            </option>
            </select>

            <select *ngIf="true" formControlName="genre" class="form-control" >
              <option value="" disabled="true" [selected]="true">Select movie genre...</option>
              <option *ngFor="let g of genres" 
                [value]="g" 
                [attr.selected]="g==movie?.genre ? true : null">
                {{g}}
              </option>
            </select>
          </div>
        </div>  

        <button *ngIf="addMode" type="submit" [disabled]="addMovieForm.invalid" class="btn btn-primary">Add</button>
        <button *ngIf="editMode" type="submit" [disabled]="addMovieForm.invalid" class="btn btn-primary">Save</button>
        <button *ngIf="!viewMode" type="button" (click)="cancel()" class="btn btn-default km-secondary">Cancel</button>
        <button *ngIf="viewMode" type="button" (click)="cancel()" class="btn btn-primary">Close</button>
      </form>
    </div>
  </div>
  