


<virtual-scroller 
    #scroll 
    [items]="displayedMovies" 
    style="height:100%"
    (vsEnd)="onVsEnd($event)"
    (vsStart)="onVsStart($event)"
    (vsChange)="onVsChange($event)"
    (vsUpdate)="onVsUpdate($event)"
    
>         
<div *ngIf="scroll.viewPortItems?.length > 0">
    <table class="table table-borderless table-hover table-condensed km-primary">
        <thead #header > 
            <tr>
            <th class="km-primary font-weight-bold" style="width: 66.667%;padding-top: 5px; padding-bottom: 2px; padding-left: 63px;">Name</th>
            <th class="km-primary font-weight-bold" style="padding-top: 5px; padding-bottom: 2px ">Genre</th>
            </tr>
        </thead>
        <tbody #container *ngFor="let movie of scroll.viewPortItems; let i=index;">
            <tr *ngIf="(i == 0 && isNumber(movie.title[0])) || (i > 0 && !isNumber(scroll.viewPortItems[i-1].title[0]) && isNumber(movie.title[0]))" (click)="editMovie(null)">
                <td style="width: 66.667%;padding-top: 5px; padding-bottom: 2px"><span style="padding-left:51px">#</span></td>
                <td style="padding-top: 5px; padding-bottom: 2px"></td>
            </tr>
            <tr *ngIf="!isNumber(movie.title[0]) && (i == 0  || scroll.viewPortItems[i-1].title[0].toUpperCase() != movie.title[0].toUpperCase())" (click)="editMovie(null)">
                <td style="width: 66.667%;padding-top: 5px; padding-bottom: 2px"><span style="padding-left:51px">{{movie.title[0] | uppercase}}</span></td>
                <td style="padding-top: 5px; padding-bottom: 2px"></td>
            </tr>
            <tr (click)="editMovie(movie)" [ngClass]="{'table-active' : movie.id === selectedMovie?.id}"> 
                <td class="font-weight-normal" style="width: 66.667%;padding-top: 2px; padding-bottom: 2px">
                    <ngx-avatar class="d-inline-block pr-2 pl-2" size="30" textSizeRatio="2" value="{{movie.title | initials }}" bgColor="{{getColor(movie.genre)}}"></ngx-avatar>
                    {{movie.title | truncate : 60}}
                </td>
                <td class="font-weight-light" style="padding-top: 2px; padding-bottom: 2px">{{movie.genre}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="scroll.viewPortItems?.length === 0" class="row h-100">
    <div class="col-sm-12 my-auto">
        <div *ngIf="scroll.viewPortItems?.length === 0 && !loading" style="text-align: center;">
            <h3>There are no Movies available or </h3>
            <h3>Movies do not meet selection criteria.</h3>
        </div>
    </div>
</div>

</virtual-scroller>


  