

    
    <div class="row km-primary flex-grow-1 overflow-hidden">

    <div class="col-md-9 mh-100 d-flex flex-column vh-100">
        <div class="row movielist km-tertiary">
            <div class="col-md-8 p-0" >


                <form id="SearchForm" (ngSubmit)="getMovies()" class="form-inline p-0 col-md-12">
                    <div class="form-group has-feedback col-md-12" style="padding-left: 57px">
                      <input class="form-control pt-0 pb-0 pl-2 h-100" style="width:90%" type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search Names">
                      <button class="btn p-0" type="submit"><fa-icon class="fa-sm km-icon pr-1" [icon]='faSearch'></fa-icon></button>
                      <fa-icon *ngIf="!(searchTerm.length === 0)" style="width: 15px;" class="fa-sm km-icon" [icon]='faTimes' (click)="clearSearch()"></fa-icon>
                      <span *ngIf="(searchTerm.length === 0)" style="width: 15px; height: 10px;" ></span>
                    </div>
                    
                </form>
                
            </div>
            <div class="col-md-4"  >  
                <div class="float-left">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-default p-0" id="dropdownBasic1" ngbDropdownToggle ><fa-icon class="fa-sm km-icon" [icon]='faFilter'></fa-icon></button>
                    
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" ngbDropdownToggle class="pr-1">
                            <button ngbDropdownItem *ngFor="let g of dropdownGenres" (click)="dropdownClick(g)">{{g}} </button>
                        </div>
                        <fa-icon *ngIf="!(genre.length === 0)" style="width: 15px;" class="fa-sm km-icon pl-2" [icon]='faTimes' (click)="clearFilter()"></fa-icon>
                        <span *ngIf="(genre.length === 0)" style="width: 15px; height: 10px;" ></span>
                    </div>
                    {{genre}}
                </div>

                <div class="float-right">
                    <a ><fa-icon class="fa-sm  km-icon pl-0" [icon]='faPlus' (click)="addMovie()" ></fa-icon></a>
                    <a ><fa-icon class="fa-sm  km-icon pl-3" [icon]='faCog' (click)="editSettings()" ></fa-icon></a>
                </div>
            </div>
        </div>
        
        <div class="row flex-grow-1 overflow-hidden">
            <div class="col-md-12 overflow-hidden pr-0 pb-0">
    
            <app-movie-virtual-list  (selectMovie)='selectMovie($event)' (fetchNextChunk)='fetchNextChunk($event)' [loading]="loading" [selectedMovie]="selectedMovie" [movies]="movies"></app-movie-virtual-list>
            </div>
        </div>

        <!-- workaround to fix virtual list scroll sizing greater than screen -->
        <div style="height: 24px;">
        </div>

    </div>

    <div *ngIf="editmode || viewmode || addmode" class="col-md-3 km-secondary" style="color:white; padding-left:0;">
        <app-add-movie [(addMode)]="addmode" [(viewMode)]="viewmode" [(editMode)]="editmode" [genres]="genres" (saveMovie)="saveMovie($event)" (cancelMovie)="cancelMovie()" (deleteMovie)="deleteMovie($event)" [movie]="selectedMovie"></app-add-movie>
    </div>

    <div *ngIf="!addmode && !editmode && !viewmode" class="col-md-3 km-jumbotron">
        <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <div style="text-align: center;">
                    <h3>Stay entertained.</h3>
                    <p>Select a movie to see its info</p>
                </div>
            </div>
         </div>

        
    </div>

    <div *ngIf="loading || deleting || saving" class="spinner spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>

</div>

<app-toasts></app-toasts>