/* You can add global styles to this file, and also import other style files */

:root {
  /* use light color as default */
  --km-primary-foreground-color : black;
  --km-primary-background-color : white;
  --km-secondary-foreground-color : black;
  --km-secondary-background-color : #e7e7e7;
  --km-tertiary-foreground-color : black;
  --km-tertiary-background-color : #bebebe;
  --km-navbar-foreground-color : white;
  --km-navbar-background-color : #4472c4;
}

html,body{
  height:100%;
}

  .km-primary {
    color: var(--km-primary-foreground-color) !important;
    background-color: var(--km-primary-background-color) !important;
  }

  .btn-default {
    color: var(--km-secondary-foreground-color) !important;
  }

  .km-secondary {
    color: var(--km-secondary-foreground-color) !important;
    background-color: var(--km-secondary-background-color) !important;
  } 

  .km-tertiary {
    color: var(--km-tertiary-foreground-color) !important;
    background-color: var(--km-tertiary-background-color) !important;
  } 

  .km-navbar {
    color: var(--km-navbar-foreground-color) !important;
    background-color: var(--km-navbar-background-color) !important;
  } 

  tr:hover {
    color: var(--km-primary-foreground-color) !important;
  }

  .km-jumbotron {
    color: var(--km-secondary-foreground-color);
    background-color: var(--km-secondary-background-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 0;
  } 

  .km-icon {
    color: var(--km-primary-foreground-color);
  }

  .navbar {
    color: var(--km-navbar-foreground-color);
    background-color: var(--km-navbar-background-color);
  }

  .nav-link {
    color: var(--km-navbar-foreground-color) !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
  }

  .movielist {
    padding-left:15px;
    padding-right:5px;
    padding-top:0px;
  }

  .spinner {
    display: block;
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    top: 50%;
    right: 62%; /* or: left: 50%; */
  }










